
*{
  margin: 0px;
  box-sizing: border-box;
}

#head-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: rgb(202, 219, 233);
  position: sticky;
  top: 0;
}
.name{
  font-size: 35px;
  color: rgb(47, 55, 61);
}
#about{
  background-color: aliceblue;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
}

.about-me{
  width: 50%;
  margin: 30px;
}
.about-me h3{
  font-size: 20px;
  color: rgb(30, 46, 59);
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 16px;
}
.about-me h1{
  margin-bottom: 16px;
  font-size: 50px;
  /* width: 50%; */
  color: rgb(68, 46, 194);
  font-weight: 700;
  /* text-decoration: underline; */
}
.about-me p{
  font-size: 18px;
  font-family: 'Roboto';
  color: rgb(7, 10, 12);
  font-weight: 600;
}
.btns-card{
  margin: 20px 0px;
}
.project-btn{
  background-color: rgb(247, 140, 0);
  padding: 8px 18px;
  border: #200e0e 1px solid;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  margin: 0px 20px 0px 0px;
}

.linkedin-btn{
  background-color: rgb(252, 251, 251);
  padding: 8px 18px;
  border: #200e0e 1px solid;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  margin: 0px 20px 0px 0px;
  color: #000;
  font-weight: 700;
}
.btns-card a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.profile{
  padding: 20px;
}
.image{
  height: 300px;
  width: 300px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin-right: 20px;
}
.nav-list li a{
  text-decoration: none;
  color: rgb(28, 40, 49);
  font-size: 20px;
  font-weight: 700;
}
.hr-line{
  width: 90%;
  height: 3px;
  background-color: #161414;
  margin: auto;
}
.add-project-card{
  width: 100%;
  display: flex;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.heading{
  /* text-decoration: double; */
  text-decoration-line: underline;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 3px;
  font-family: 'serif';
  margin: 10px;
}

.form{
  padding: 10px;
  border: #161414 1px solid;
  margin-top: 30px;
  width: 400px;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.form label{
  font-size: 16px;
  font-weight: 600;
  color: #161414;
  
}
.form input{
  font-size: 16px;
  height: 40px;
  border: solid 1px #a59999;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
  color: #161414;
  margin-bottom: 20px;
  padding: 5px 15px;
  color: #524c4c;
  outline: none;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
}
.form textarea{
  font-size: 16px;
  min-height: 100px;
  border: solid 1px #a59999;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
  color: #161414;
  max-width: 100%;
  padding: 5px 15px;
  color: #524c4c;
  outline: none;
  font-size: 16px;
  margin-top: 5px;
  min-width: 100%;
}
.form input:hover{
  outline-style: groove;
  border: none;
  outline-width: 1px;
  outline-color: rgb(253, 160, 37);
}
.form textarea:hover{
  outline-style: groove;
  border: none;
  outline-width: 1px;
  outline-color: rgb(253, 160, 37);
}
.form button{
  background-color: rgb(247, 140, 0);
  padding: 7px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #161414;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  margin-top: 10px;
  font-weight: 700;
}
.form button:hover{
  background-color: #78ec5a;
  color: #000;
}
#projects{
  background-color: aliceblue;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
  width: 100%;
}
#contact{
  background-color: aliceblue;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
}
.projects-list{
  padding-left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-card{
  margin: 20px 0px 10px 0px;
  display: flex;
  align-items: center;
}
.icon{
  /* height: 60px;
  width: 60px; */
  margin: 0px 10px;
  cursor: pointer;
}
